In [ ]:
|

# Ejercicio de Regresion Lineal

En este notebook vamos a describir paso a paso un ejercicio de prediccion, a traves de regresion lineal, de la cantidad de ocasiones en que comparte un articulo del area de machine Learning en un Blog

# Prediccion: Cantdad de ocasones en que se comparte un articulo de un Blog

Se inicia importando, ajustado y visualizando los datos

In [7]:
# Importamos librerias y ajustes necesarios

import numpy as np
import pandas as pd 
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm 
plt.rcParams['figure.figsize']=(16,9)
plt.style.use('ggplot')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [9]:
#Se carga el archivo de datos de entradas csv como dataset de Pandas. los datos proviene del sitio web https://www.kdnuggets.com 
data = pd.read_csv("./articulos de blog ml.csv")

Pandas es una libreria de Python destinada a analisis de datos, qie proporciona estructura de datos flexibles las cuales permiten trabajar con ellos de forma eficiente. Pandas ofrece las siguiente estructura sde daros: Series; Son arrays con indexacion (arrays con indice o etiqutados), similar a los diccionarios. Puede generarse a partir de diccionariso de la listas. Dataframe: Son estructuras de datos similares a las tables de base de datos relaciones con SQL, Panel, Panel4D y PanelND; Son estructuras de datos  que permite trabajar con mas de dos dimensiones

In [10]:
#Revisamos la dimension (registros x columnas)que contiene el archivo
data.shape

(161, 8)

In [12]:
# Podemos revisar los primeros registrados para comprobar el funcionamiento
data.head()

,Title,url,Word count,# of Links,# of comments,# Images video,Elapsed days,# Shares
0,What is Machine Learning and how do we use it ...,https://blog.signals.network/what-is-machine-l...,1888,1,2.0,2,34,200000
1,10 Companies Using Machine Learning in Cool Ways,NaN,1742,9,NaN,9,5,25000
2,How Artificial Intelligence Is Revolutionizing...,NaN,962,6,0.0,1,10,42000
3,Dbrain and the Blockchain of Artificial Intell...,NaN,1221,3,NaN,2,68,200000
4,Nasa finds entire solar system filled with eig...,NaN,2039,1,104.0,4,131,200000

    Se observa, por ejemplo, la media del atributo Word count(Cantidad de palabras)es de 1808.26 tambien se observa que el qrticulo mas pequeno contiene 250 palabras y el mas grande tiene 8401 palabras. Con respecto a cuando se ha compartido un articulo (#Share

In [ ]:
# Se visualizan los atributos de entrada mediante histrogramas y barras (cuantitativas y cualitativas)
data.drop(['Title','Elapsed day'],1).hist()
plt.show()

Las graficas anteriores

Se puede visualizar

In [ ]:
#Visualizar datos de entrada
colores= ['orange', 'blue']
tamanios=[30,60]

f1=data['Word count'].value
f2=data['# Share'].value

# Pintar en dos colores los puntos por debajo de la media de cantidad de palabras
asignar = []
for index,row in data.iterrows()
if (row['Word count']>1808):
    asignar.append(colores[1])
    plt.scater(f1, f2, c=asignar, s=tamanios[0])
    plt.show

In [ ]:
#Visualizar los datos en la zona donde se concentran mas los puntos 
#esto es el eje x: entre 0 y 3500.
# en el y: entre 0 y 80.00
filtered_data= data[data['Word count']<= 3500 & (data['# Shares']<= 80000)]

f1=data['Word count'].value
f2=data['# Share'].value

#pintar en colores los puntos por debajo y por encima de la media de cantidad de palabras
asigna=[]
for index, row in filtered_data.iterrows():
    if(row['Wor count']>1808):
        asignar.append(colores[1])
        
        plt.scater(f1, f2, c=asignar, s=tamanios[0])
    plt.show

In [ ]:
#Se revisan los cambios de valores una vez filtrados
filtered_data.describe()

In [ ]:
#Se asigna el atributo de entrada  X para entrenamiento y las etiquetas Y
dataX =filtered_data[['Word count']]
X_train = np.array(dataX)
Y_train = filtered_data['# Shares'].value.

In [ ]:
#Se genera el objeto de regresion lineal
regr = lineal_model.LineaerRegression()

#Se entre el modelo
regr.fit(X_train, Y_train)

#Se realiza las predicciones
y_pred = regr.predict(X_train)

#Se revisa los coeficientes obtenidos, en estye caso sera la tangente
print('Coeficiente: \n', regr.coef_)
#Este es el valor donde corta el eje Y (enx=0)